
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



/* general elements */

html, body, a {
     font-size: 16px;
     line-height: 1.5;
     font-family: var(--font-poppins);
     font-weight: var(--font-weight-regular);
     text-decoration: none;
     color: var(--fixxo-dark);
}

h1, h4, p {
     margin: 0;
     padding: 0;
}

h2 {
     font-size: var(--size-45);
     font-weight: var(--font-w-bold);
     margin: 0;
     padding: 0;
}

h3 {
     font-size: var(--size-20);
     font-weight: var(--font-w-bold);
     color: var(--fixxo-dark);
}

h4 {
     font-size: var(--size-18);
     font-weight: var(--font-w-semibold);
     color: var(--fixxo-dark);
     text-transform: capitalize;
}

h5 {
     font-size: var(--size-13);
     font-weight: var(--font-w-medium);
     color: var(--fixxo-grey-2);
     text-transform: capitalize;
}

section {
     margin-bottom: 0rem;
     position: relative;
     background-color:  #FFFFFF;
     z-index: 1;
}

.container {
     max-width: 1140px;
     display: flex;
     align-items: center;
     margin: auto;
     padding: 0;

     /* border: 1px solid red; */
}

.container-wide {
     max-width: 1600px;
     display: flex;
     align-items: center;
     margin: auto;
     padding: 0;
     /* padding: 0 1rem; */

     /* border: 1px solid red; */
}

.flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

/* .invisible {
     visibility: hidden;
}

.visible {
     visibility: visible;
} */

._NavLink h4 {
     color: var(--fixxo-dark);
     transition: 0.3s;
}
._NavLink:hover h4 {
     color: var(--fixxo-theme);
}

@media (min-width: 1600px) {

     section {
          margin-bottom: 4rem;
          /* position: relative;
          background-color:  #FFFFFF;
          z-index: 1; */
     }
}

/* fixa */

.rd, .br, .r {
     border: 1px solid red;  
}
.gr, .bg, .g {
     border: 1px solid green;  
}
.bl, .bb {
     border: 1px solid blue;  
}
.yl, .by, .y {
     border: 1px solid yellow;  
}
