/* our speciality */

.customer-info-menu .container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 1rem;
}

.customer-info-showcase .section-title {
     text-align: center;
     margin: auto;
     padding-top: 2rem; 
     padding-bottom: 2rem; 
}

.customer-info-showcase {
     background-color: var(--fixxo-grey-3);
}

.customer-info-showcase .section-title {
     width: var(--wsxga);
     background-color: var(--fixxo-grey-3);
}

.customer-info-container {
     display: none;
}

.infobox {
     display: flex;
     text-transform: capitalize;
}
     .infobox div {
          padding: 0.5rem;
     }

     .infobox h3 {
          padding-top: 6px;
     }
     .infobox p {
          color: var(--fixxo-grey-2);
     }


.carousel-container {
     background-color: var(--fixxo-grey-3);
     max-width: 570px;
     margin: auto;
     padding-bottom: 4rem;
}

@media (min-width: 768px) {
     
     .customer-info-menu .container {
          flex-direction: row;
          border-top: 1px solid var(--fixxo-grey-2);
     }

     .infobox {
          display: block;
          text-align: center;
          padding-top: 3rem ;
     }
          .infobox h3 {
               display: block;
          }
}

@media (min-width: 1140px) {

     .carousel {
          display: none;
     }
     .carousel-container {
          display: none;
     }
     
     .customer-info-showcase {
          background-color: var(--color-white);
     }

     .customer-info-container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 2rem;
          background-color: var(--fixxo-grey-3);
          padding: 2rem 2rem 4rem 2rem;
     }
}