/* showcase grid 2x4 "featured products" */
.featured-products .container {
     display: block;
     padding: 2rem 0;
}
.featured-products .container .left {
     text-align: left;
}
.featured-products .container .middle {
     text-align: center;
}
.featured-products .container h3 {
     margin: 1rem;
}
.featured-products .container .row {
     margin-left: auto;
}

@media (min-width: 1140px) {}